{% extends "base.html" %}

{% block content %}

<h3 style="display:inline">ABOUT US:</h3><h4 style="display:inline"> Our mission is to connect, collaborate, and preserve...</h4><br/>
<p>We exist to connect international adoptees with each other and with the various organizations, resources, and services that
are available to help them. We seek to collaborate with existing adoptee organizations, in order to fill in the gaps for post
adoption services that don't exist.
</p>
<p>
We strive to preserve our adoption legacies, histories, and communities by providing a space, both physical and virtual,
for international adoptees in the US to call our own. In this center, we will celebrate who we are, and strengthen pride in
our adoptee community through showcasing our films, art, books, and through publishing research and data. We hope to
allow this place to be a gateway to the adoptee, their families, and communities.
</p>
<h3>OUR VISION</h3>
<p>The vision of Adoption Hub is to be a center for adoptees and their families in the United Sates where adoptees feel a sense of belonging through shared experiences as we provide resources and services.</p>
<p>The Adoptee Hub would provide a physical space for adoptees to meet others who have similar experiences. The center would provide a safe place to build community. It would foster inclusion and a sense of belonging.</p>
<p>Our center aims to house a library that will focus on adoptee related topics. It will provide services such as seminars on birth countries, art therapy, mental health counseling, and educational curriculum for schools and adoption agencies, professional services on health and wellness, and translation services. Cultural services focusing on music, art, and cooking will also be included. Beyond the center, our organization will organize tours and birth reunion trips back to birth countries. This will provide opportunities for adoptees to visit their orphanages, and participate in cultural experiences.</p>
<p>Adoptee Hub would also collaborate with existing adoptee organizations and help provide funding for their services. The goal is to provide quality services while closing the gap along with other organizations. Together we are stronger and louder.</p>
<p>The international adoptee community is a large community and a growing population in multiple countries. The adoptee community grows not only through adopting more children, but also by child adoptees becoming adult adoptees.</p>
<p>The center will be a three-year project starting with a kick off Capital Campaign in spring 2019. This campaign will consist of seeking funds to provide a building a center for adoptees with much needed services.</p>
{% endblock %}

