{% extends "base.html" %}

{% block content %}

<h3 style="display:inline">ABOUT US:</h3><h4 style="display:inline"> Our mission is to connect, collaborate, and preserve...</h4><br/>
We exist to connect international adoptees with each other and with the various organizations, resources, and services that<br/>
are available to help them. We seek to collaborate with existing adoptee organizations, in order to fill in the gaps for post<br/>
adoption services that don't exist.
<br/><br/>
We strive to preserve our adoption legacies, histories, and communities by providing a space, both physical and virtual,<br/>
for international adoptees in the US to call our own. In this center, we will celebrate who we are, and strengthen pride in<br/>
our adoptee community through showcasing our films, art, books, and through publishing research and data. We hope to<br/>
allow this place to be a gateway to the adoptee, their families, and communities.
{% endblock %}

