{% extends "base.html" %}

{% block content %}
<div style="text-align: center" ><h5>BOARD MEMBERS</h5></div><br>
<div>
    <table>
        <tr class="spaceUnder"><td class="col-md-1" ><img alt="De Lee Dong Il" src="/static/img/DrLeeDongIl.jpg" /></td>
            <td class="col-md-11">
                <table><tr><td><h4>Dr. Lee, Dong Il: Executive Director of Global Arts Fesitval, Seoul, South Korea</h4></td></tr>
                    <tr><td>
                        <div class="more">Dr. Lee is a Visiting Professor of Sogang University, Korea for the past 7 years. He is the Founder and was the Artistic Director of Mu Performing Arts(Theatre Mu), Minneapolis, United States. Dr. Lee has raised millions of dollars for dozens of Korea universities and organizations. He has a Ph.D. in Theatre Arts from the University of Minnesota and has a master in Theatre Arts from the University of Minnesota, United States. Dr. Lee is a recipient of the Minister’s awards from the Dept.of Education & Science, Korea; the Governor’s award, of ChungNam Province, Korea; the President’s award from the Ministry of Public Admin, Korea; the Post Doctoral Fellowship of Harvard University; along with dozen’s more
                        </div>
                    </td></tr>
                </table>
            </td>
        </tr>
        <tr class="spaceUnder"><td class="col-md-1" ><img alt="Dr. Pak Jin" src="/static/img/DrPakJin.jpg" /></td>
            <td class="col-md-11">
                <table><tr><td><h4>Dr. Park, Jin: Honorary Board Member</h4></td></tr>
                    <tr><td>
                        <div class="more">Grand National Party, former member of Korean National Assembly
                        </div>
                    </td></tr>
                </table>
            </td>
        </tr>
        <tr class="spaceUnder"><td class="col-md-1" ><img alt="David Moschkau" src="/static/img/davidm.jpg" /></td>
            <td class="col-md-11">
                <table><tr><td><h4>David Moschkau: President, Minneapolis, Minnesota</h4></td></tr>
                    <tr><td>
                        <div class="more">I was adopted at the age of 5 to a family in Minnesota. I grew up in the country on a small farm in a small town. Went to college and got my computer science degree and started working as a programmer. On Thanksgiving night in 1997 I got a phone call that would change my life trajectory forever. The woman on the other end spoke broken English and her first words were “Are you David? I’m your sister.”  This began my journey to meet my birth family and to learn more about my Korean heritage. 
                            <br><br>
                            I was on the board of AK Connection, the Korean adoptee group in Minnesota, serving as Vice President and then President for over 5 years. It was my passion to help others to find their own journey of learning about their identity and Korean culture and to find others they could relate to. I still have passion for the adoptee community but it was time for new and younger minds to move the organization into the future. 
                            <br><br>
                            The reason I joined the board of Adoptee Hub is because I see a need for what the mission of the organization will bring to the adoptee community around the world. During my own birth family reunion and learning about others experiences, I realized that there is a huge need for post reunion services and education, beyond just family search services. I witness adoptees entering their own journey throughout the year and many have similar questions and needs. Adoptee hub will be the “hub” of all the available resources out there plus new services to continue their journey
                        </div>
                    </td></tr>
                </table>
            </td>
        </tr>
        <tr class="spaceUnder"><td class="col-md-1" ><img alt="Matt Fetzer" src="/static/img/Matt.jpg" /></td>
            <td class="col-md-11">
                <table><tr><td><h4>Matt Fetzer: Vice President, Inver Grove Heights, Minnesota</h4></td></tr>
                    <tr><td>
                        <div class="more">I was adopted when I was nine months old by two Caucasian parents of German descent. My
                                older sister, who is also a Korean adoptee, and I were raised in the suburbs in Minnesota. I
                                currently live in Inver Grove Heights, just a few miles south of St. Paul, Minnesota. For the last
                                nine years, I’ve worked in New Product Development at Thomson Reuters, where I’m currently
                                a manger. I am also licensed to practice law in Minnesota.<br><br>
                                I started the journey into my Korean heritage in my early forties. Because of that, I’ve come to
                                recognize many of the things that make it difficult for older adoptees, especially those who are
                                first exploring their heritage, to connect with the larger adoptee community. I want to make it
                                easier for adoptees to connect regardless of age, identity or background. I believe that the
                                Adoptee Hub can help facilitate these connections. I feel fortunate to have been supported by
                                many wonderful adoptees since I started my journey, and I welcome the chance to show the
                                same support to others.
                        </div>
                    </td></tr>
                </table>
            </td>
        </tr>
        <tr class="spaceUnder"><td class="col-md-1" ><img alt="Elizabeth Burt" src="/static/img/elizabeth.jpg" /></td>
            <td class="col-md-11">
                <table><tr><td><h4>Elizabeth Burt: Treasurer, Minneapolis, Minnesota</h4></td></tr>
                    <tr><td>
                        <div class="more">BIO goes here.
                        </div>
                    </td></tr>
                </table>
            </td>
        </tr>
        <tr class="spaceUnder"><td class="col-md-1" ><img alt="Susan Joppling" src="/static/img/susan.jpg" /></td>
            <td class="col-md-11">
                <table><tr><td><h4>Susan Jopling: Secretary, Henderson, Nevada</h4></td></tr>
                    <tr><td>
                        <div class="more">My story begins in 1963 when I was adopted at the approximate age of 3 ½ years
                                old in a closed adoption through HOLT Organization. I was an only child for two
                                years before being joined by a younger adopted Korean brother.<br><br>
                                I attended Augsburg College in Minneapolis, Minnesota and have a BA in
                                Business Communications with a Minor in Sociology. My most recent work
                                experience was for the State of Minnesota for approximately 12 years. Currently, I
                                am joyfully retired since May of 2017 and I live in Henderson, NV with my
                                husband. We have been married for over 12 years. Neither of us have ever had any
                                children. I continue to deal with the emotional and identity issues involving my
                                transcultural placement. One of my fondest memories was my six years working
                                with young Korean adoptees at a summer cultural camp. At camp, it was my goal
                                to make a difference in the lives of adopted children from Korea to help them with
                                the issues they will face in their life growing up in a society different from their
                                birth country.<br><br>
                                Today, my passions include writing poetry and articles for the Korean Quarterly.<br><br>
                                Often, I ponder how far I have come from that little child in Korea, to where I am
                                today. Although I have never found my birth family and it is a dream of mine to
                                find them, I at least like to believe my birth mother would be proud of me at how
                                far I have come. Hope remains that someday I will find her. My desire to work
                                with Adoptee Hub continues my commitment to help other adoptees on their own
                                journey.
                        </div>
                    </td></tr>
                </table>
            </td>
        </tr>
        <tr class="spaceUnder"><td class="col-md-1" ><img alt="Mari Paghluigi" src="/static/img/Mari.jpg" /></td>
            <td class="col-md-11">
                <table><tr><td><h4>Mari Paghluigi: Board Member, Brooklyn Heights, New York</h4></td></tr>
                    <tr><td>
                        <div class="more">Mari currently lives in Brooklyn, New York with her husband Jeremy and their newborn son, Sawyer. 
                            She was born in Incheon, South Korea and was adopted by American parents at 4 months of age. 
                            She grew up in Westchester, NY and has lived in NYC for 18 years. Currently, Mari is Assistant Vice President of
                             Corporate Communications at Guardian Life Insurance Company of America, headquartered in Manhattan, 
                             where she promotes the company, through its website, social media pages, and through digital advertising. 
                             Mari is also a member of AKA (Also Known As), a Korean adoptee organization based in NYC, where she has been a
                              mentor to other Korean adoptees. She was also a camp counselor at Holt camp. Recently, 
                              Mari visited Korea in January 2018 to conduct a birth family search. After experiencing the many challenges 
                              of the birth family search process, she returned from this trip committed to helping other adoptees with 
                              their own birth searches and their adoption journeys. She is very excited to be part of Adoptee Hub to help
                               bring much needed services to adoptees
                        </div>
                    </td></tr>
                </table>
            </td>
        </tr>
        <tr class="spaceUnder"><td class="col-md-1" ><img alt="Mele Kramer" src="/static/img/mele.jpg" /></td>
            <td class="col-md-11">
                <table><tr><td><h4>Mele Kramer: Director of Development</h4></td></tr>
                    <tr><td>
                        <div class="more">BIO goes here.
                        </div>
                    </td></tr>
                </table>
            </td>
        </tr>
        <tr><td class="col-md-1" ><img alt="Ami Nafzger" src="/static/img/ami.jpg" /></td>
            <td class="col-md-11">
                <table><tr><td><h4>Ami Nafzger: Founder & CEO, Minneapolis, Minnesota</h4></td></tr>
                    <tr><td>
                        <div class="more">BIO goes here.
                        </div>
                    </td></tr>
                </table>
            </td>
        </tr>
        
    </table>
</div>

<script>
$(document).ready(function() {
	var showChar = 200;
	var ellipsestext = "...";
	var moretext = "more";
	var lesstext = "less";
	$('.more').each(function() {
		var content = $(this).html();

		if(content.length > showChar) {

			var c = content.substr(0, showChar);
			var h = content.substr(showChar-1, content.length - showChar);

			var html = c + '<span class="moreelipses">'+ellipsestext+'</span>&nbsp;<span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">'+moretext+'</a></span>';

			$(this).html(html);
		}

	});

	$(".morelink").click(function(){
		if($(this).hasClass("less")) {
			$(this).removeClass("less");
			$(this).html(moretext);
		} else {
			$(this).addClass("less");
			$(this).html(lesstext);
		}
		$(this).parent().prev().toggle();
		$(this).prev().toggle();
		return false;
	});
});</script>
{% endblock %}