{% extends "base.html" %}

{% block content %}
<div style="text-align: center" ><h5>BECOME A MEMBER</h5></div><br>
<div class="boxWrapper">
        <button class="box"><span><h9>Standard<br/>$55<br/>annual</h9><br/><br/><h10>(discount towards 1 annual event)</h10></span></button>
        <button class="box"><span><h9>Enhanced<br/>$80<br/>annual</h9><br/><br/><h10>(discount towards 1 annual event and language education class)</h10></span></button>
        <button class="box"><span><h9>Ultimate<br/>$150<br/>each year sustaining</h9><br/><br/><h10>(discount towards all annual events, language education class, and birth search services)</h10></span></button>
        <button class="box rightbox"><span><h9>Standard<br/>$250<br/>each year sustaining</h9><br><br><h10>(Ultimate level + discounts towards therapy/counseling sessions, overseas travel services)</h10></span></button>
</div>

<br><br>
<div style="text-align: center" ><h5>VOLUNTEER</h5></div><br>
<div>
    <div style="font-weight: bold">
        We believe volunteers are the backbone of our organization. We are looking for volunteers in the following areas:
    </div><br>
    <ol>
        <li>Your professional background & experience may be a valuable resource for us, please complete the form</li>
        <li>Korean Translator/Interpreter</li>
        <li>Research Committee</li>
        <li>Collecting books, videos, art, writings, cultural materials</li>
        <li>Events Committee</li>
    </ol>
    <br>
    <div>
        Please contact us at any time:<br>
        email: info@adopteehub.org<br>
        Phone: 612-458-6250<br>
    </div>
</div>
{% endblock %}

