{% extends "base.html" %}

{% block content %}
<div style="text-align: center" >
Greetings fellow adoptees, adoptee families, friends, partners and sponsors.

Thank you for your donation, participation, and support.  Without you we cannot serve our community, prevent and resolve the many issues arising and that are long standing. 
I deeply believe in this cause, as it has been my life-long mission.

I continue to serve my community through Adoptee Hub as a sister partnership of G.O.A’L Korea. I believe after 7 decades of international adoptions, many resources have come and gone, yet they are dispersed and not solidified as one. 

It is difficult to hear us since we are quiet, dispersed, alone in rural areas throughout the US, immersed in White families that promised to care and love us as their own. Love sometimes is not enough; sometimes blood is thicker than water.

 It is human nature to be curious about our biological roots, culture, language and history when we look different from our adoptive families. In mainstream society, people take for granted who they are and where they come from. Most people don’t need to think twice of what day they were actually born, how old they really are, where they were born, and what biological physical or medical features they share with their family members.  

The simplest information about a person is a lifelong question and loss for our international adoptee community. I believe everyone has a right to know what day they were born, where they were born, how old they really are. 

Thus, over the years, numerous issues have arisen in our community and still much more efforts need to be made and many more issues addressed. Post adoption services are long overdue, and finally our community needs to have a voice, and be recognized as a community. 

I believe Adoptee Hub will make a difference in people’s lives through the global services it builds for adoptees and their families. 

This cannot be done without your financial contribution. 
Every contribution counts. 
Every contribution is powerful for an individual or group of people.

Your contribution will help an adoptee answer these lifelong questions of who they are and where they came from. 

Your contribution will help an adoptee find a place where they feel a sense of belonging, find others where they don’t have to explain themselves for the first time or every time. 

Your contribution will help an adoptee feel confident and proud of themselves through group therapy and counseling.
Your contribution will help an adoptee learn their culture, heritage and food for the first time.
Your contribution will help an adoptee overcome their shame of feeling different every day.
We greatly appreciate your support.  We welcome your ceaseless vigilance in helping us to connect, to collaborate, and to preserve our adoption legacies, histories, and communities globally.
Thank you.
Ami Nafzger, CEO of Adoptee Hub
Ami’s signature here
</div>
{% endblock %}