{% extends "base.html" %}

{% block content %}
<div style="text-align: center" ><h5>SERVICES</h5></div>
<br/>
Adoptee Hub will work through partnership with intensions to make the community stronger and healthier. It will help the adoptee<br/>
community to act as a collective voice, assist with identifying issues and adoptee's hardships in their lifelong journeys.
<br/><br/>
A Center for Adoptees is long overdue as it would be a permanent sustainable place for:<br/><br/>

<button class="accordion">Adoptee Hub will offer the following community program services</button>
<div class="panel">
  <p>Our program services will serve the adoptee community and adoptee families in a variety of ways.

    Many people will use the adoptee center for a sustained period such as the resource area, and computer lab. While many others will want to obtain services within the adoptee center (e.g. Birth search, research projects, study their birth country language, and post adoption services.
  </p>
</div>

<button class="accordion">Birth Search Service</button>
<div class="panel">
  <p>Adoptee Hub will provide the first and only Global Birth search Services (GBS) from the beginning of the search to post reunion-services. GBS is unique and one of its kind because of the services that it will provide. This will be in collaboration with Korean adoption agencies, Global Overseas Adoptees Link, Korea (G.O. A ’L); Korean Adoption Services, Korea (KAS); and numerous small adoptee registries.
    GBS will offer the following:
    <ol type="a">
      <li>A portal for birth families to provide their information, data, and pictures of the children they are seeking.</li>
      <li>A portal for adoptees to provide their information, data and pictures of what they have in their adoption file.</li>
      <li>The portal will have a state of the art registry that crosschecks data and conducts facial recognition.</li>
      <li>Translation services</li>
      <li>Group therapy and one to one counseling</li>
      <li>Consultation before searching</li>
      <li>An educational class on the culture and language before and after traveling and</li>
      <li>Scholarships to fly adoptees over to Korea for a birth search reunion</li>
    </ol>
    
    Our staff will assist adoptees who seek to find their birth families. Keep in mind the following:
    <ul>
      <li>Searching involves many elements and can be extremely complex and</li>
      <li>It is important to have a clear and sensitive process, to address
        this emotional time for the adoptee, birth family, adoptive family
        and others related to the process.</li>
    </ul>
    </p>
</div>

<button class="accordion">Adoptee Cultural Education and Health & Wellness Program</button>
<div class="panel">
  <p>Part One: Because culture plays a large role in shaping the adoptee identity, we will offer an immersion language course and culture and customs classes as this could encourage adoptees to become more comfortable with their roots.
    <ul>
      <li>Classes will be facilitated by our partners of language, dance, literature, documentaries and more.</li>
      <li>These sessions will have a maximum of eight (8) adoptees per session.</li>
      <li>Each participant will be able to learn, laugh, and enjoy different aspects of their culture.</li>
    </ul>
    
    Part Two: It is important to have a safe and comfortable environment where we can express ourselves with others who have similar experiences.
    <ul>
      <li>We will have trained and certified mental health professionals who will provide one to one counseling, host support groups, and help adoptees explore issues of identity, trauma, attachment, depression, drug abuse and more.</li>
      <li>A unique 8-week program designed to allow adoptees to support, relate and share their experiences throughout adolescence.</li>
      <li>The program will have a maximum of eight (8) adoptees with the therapist providing an outline of adoption topics each session.</li>
    </ul>
    
    Therefore, we would like to provide:
    <ul>
      <li>An immersion language and culture class for adults, age ranging from 21 years and up.</li>
      <li>Group art therapy and family counseling and support groups.</li>
      <li>One to one counseling mental health services</li>
      <li>Related resources and services throughout the US</li>
    </ul>
  </p>
</div>
<button class="accordion">GATRFF (Global Adoptee Transracial Film & Art Festival)</button>
<div class="panel">
  <p>Global adoptee Transracial Film & Art Festival (GATRFF) will be the largest transracial and transcultural Adoptee Film & Art Festival.  GATRFF will occur every other year. One time in the United Stated, one time in Korea and one time in Europe. GATRFF will be procured to display the adoptee community and its rich diversity, as well as some of the emerging voices telling their points of view through film, words, music, and art.
    <br><br>
    Adoptee Hub hopes its biannual festival will instill a sense of belonging in adoptees and their families as well as raise additional awareness of adoptee experiences with the rest of the community.
    <br><br>
    The film festival supports Adoptee Hub and its multiple partners’ goal to educate the community and public by raising awareness about transracial adoptee experiences. The showing of these films, writings, and art is to encourage interactive discussion and dialogue about adopted identities and the journeys of adopted individuals.
    With the U.S. being home to one of the largest number of international adoptees in the world (according to the U.S Department of State-Bureau of Consulate) GATRFF is important to a broad adoptee multicultural audience. These festivals will take place in the U.S., Korea, and Europe.</p>
</div>

<button class="accordion">Conducting Community Dinner & Dialogue series for Adoptees</button>
<div class="panel">
  <p>The Dinner & Dialogue series will encourage dialogue on how adoptees balance issues of race, culture, and identity with a trained adoptee facilitator. The facilitator will broadly frame the focus of the group and help important themes and issues to emerge. Through discussion, participants will identify areas of agreement and disagreement. As new insights emerge, they should be captured and clarified.  This will be part of the GATRFF events as well.</p>
</div>

<button class="accordion">Adoption Advocacy</button>
<div class="panel">
  <p>We will provide services such as citizenship resources, adoption education, and education on international adoptee laws to help advocate for adoptee rights and effect systematic, societal, and or legal/governmental change. Services may include the following:
    <ul>
      <li>Deportation education and resources to become a U.S.  citizen, expert witness for adoptees being deported, and collaboration with social justice organizations</li>
      <li>Memorial and dedication</li>
      <li>Campaign for adoptees to find medical or bone marrow matches</li>
      <li>Access to and education regarding Adoptee laws and policies at the local, state, federal, and international levels</li>
      <li>Access to resources on published data and statistics on adoption; research articles, dissertations, and book-length monographs; and testimonies</li>
      <li>A known point of contact on global adoptee issues</li>
    </ul>
  </p>
</div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>

{% endblock %}

