

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1, h2 {
    font-family: "Helvetica Neue";
    font-size: 29px;
    color: #676767;
}

h2 {
    color: #8f0440;
}

h3, h4 {
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 22px;
    color: #8f0440;
}
h4 {
    color: #676767;
}

h5 {
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 35px;
    color: #676868;
}
h6 {
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 25px;
    color: #ffffff;
}
h7 {
    font-family: "Helvetica Neue";
    font-weight: medium;
    font-size: 32px;
    color: #ffffff;
}
h8 {
    font-family: "Helvetica Neue";
    font-size: 25px;
    color: #ffffff;
}
h9 {
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 35px;
    color: #ffffff;
}
h10 {
    font-family: "Helvetica Neue";
    font-size: 17px;
    color: #ffffff;
}
body{
    font-family: "Helvetica Neue";
    font-size: 18px;
    color: #676868;
}

.joinButton {
    border-color: #8f0440;
    color: #615490 
}
.boardMembers {
    text-align: center; 
}

td img {
    max-width:100%;
    height:auto;
    width: 100px;
    vertical-align: top;
}
td h4{
    margin-top: 0;
}

tr.spaceUnder> td{
    padding-bottom: 1em;
    vertical-align: top;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 25px;
    background-color: #615490;
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}
.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 35px;
    color: #ffffff;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    color: #615490;
}
/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 10px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

a.morelink {
	text-decoration:none;
    outline: none;
    color: #8f0440;
    font-weight: bold;
}
.morecontent span {
	display: none;

}

#box1 {
    background-color: #676767;
}

#box2 {
    background-color: #615490;
}

footer {
    background-color: #8f0440;
}